<style>
  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('{{ "assets/fonts/fira-code-v26-latin-regular.woff2" | relURL }}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    src: url('{{ "assets/fonts/fira-code-v26-latin-700.woff2" | relURL }}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('{{ "assets/fonts/inter-v19-latin-regular.woff2" | relURL }}') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('{{ "assets/fonts/inter-v19-latin-700.woff2" | relURL }}') format('woff2');
  }
</style>