@use '../abstracts/mixins' as m;

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__logo {
    @include m.circle(40px);
    box-shadow: var(--color-shadow-sm);
  }

  &__body {
    display: grid;
    text-shadow: var(--color-text-shadow-sm);
  }

  &__title {
    color: var(--color-text-title);
  }

  &__tagline {
    color: var(--color-text-muted);
    font-size: var(--text-sm);
    font-style: normal;
  }
}