@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

// BREADCRUMBS
.breadcrumb {
    position: relative;
    max-width: 100%;
    overflow: auto;
    transition: all 1s ease;
    
    // BREADCRUMBS OVERFLOW ACTIVE 
    &.has-overflow{
        border-radius: v.$size-2;
        margin: 0px 20px;
        border-right: 3px solid var(--cl-accent);
        border-left: 3px solid var(--cl-accent);
        box-shadow: 
            inset 0px 0px 20px var(--cl-shadow);
    }

    // SCROLL BAR
    &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
        display: none;
    }

    // BREADCRUMBS LIST
    &__list {
        @include m.flex-justify();
        list-style: none;
        padding: v.$size-0;
    }

    // BREADCRUMBS ITEM
    &__item {
        margin-right: v.$size-2;
        padding: v.$size-1 v.$size-4;
        border-radius: v.$size-1;
        background-color: var(--cl-overlay);
        border-bottom: 2px solid var(--cl-border);
        border-top: 2px solid var(--cl-border);
        box-shadow: 0px 0px 0px var(--cl-shadow);
        transition: all 0.3s ease-in-out;

        &:last-child {
            border-color: var(--cl-accent);
            box-shadow: 
                0px 3px 10px var(--cl-shadow),
                inset 0px 1px 5px var(--cl-shadow);
                
            .breadcrumb__link {
                color: var(--cl-accent);
            }
        }

        &:hover {
            border-color: var(--cl-accent);
            box-shadow: 
                0px 3px 10px var(--cl-shadow),
                inset 0px 3px 5px var(--cl-shadow);

            .breadcrumb__link {
                color: var(--cl-accent);
            }
        }
    }

    // BREADCRUMBS LINK
    &__link {
        transition: color 0.3s ease;
        position: relative;
        text-decoration: none;
        color: var(--cl-link);
        font-family: var(--font-subtitle);
        font-size: var(--fs-label);
        white-space: nowrap;

        &--active {
            pointer-events: none;
        }
    }
    
    // BREAKPOINT MIN-WIDTH (992px)
    @include bp.min-width(lg){
        left: 50%;
        transform: translateX(-50%);
        
        &.has-overflow{
            margin: 0px;
        }

        &__link {
            margin: v.$size-1;
        }
    }
}
