@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

// BUTTON 
.btn {
    color: var(--cl-btn);
    padding: v.$size-1 v.$size-2;
    text-shadow: 1px 5px 5px var(--cl-shadow);
    background: none;
    cursor: pointer;

    // BUTTON PRIMARY 
    &--primary {
        color: var(--cl-accent);
        font-size: v.$size-7;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}
