@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

.btn {
    color: var(--cl-btn);
    text-shadow: 1px 5px 5px var(--cl-shadow-dark);
    background: none;

    &--primary {
        color: var(--cl-accent);
        font-size: v.$size-5;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}