@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

.btn {
    color: var(--cl-btn)!important;
    font-size: v.$size-4;
    border-radius: v.$size-1;
    text-shadow: 1px 10px 5px var(--cl-shadow);
    background: none;
}