@use "sass:map";

$callout-names: tip, info, success, warning, danger, note, abstract, question;

$callout-types: ();

@each $name in $callout-names {
  $callout-types: map.merge(
    $callout-types,
    (
      #{$name}: (
        bg: var(--color-bg-state-#{$name}),
        text: var(--color-text-state-#{$name}),
      )
    )
  );
}

.callout {
  border: 1px solid var(--color-bg-state-info);
  background-color: var(--color-bg-state-info);
  display: block;
  margin: 1rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--color-bg-state-info);
    margin-bottom: -1px;
    cursor: pointer;
  }

  &__body {
    padding: 1rem;
  }

  @each $type, $props in $callout-types {
    &--#{$type} {
      background-color: map.get($props, bg);
      border-color: map.get($props, bg);
      .callout__header {
        color: map.get($props, text);
        border-color: map.get($props, bg);
      }
    }
  }
}
