.highlight {
  position: relative;

  &::before,
  & code::before {
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    border: 1px solid var(--color-border);
    border-bottom: none;
    margin-bottom: -1px;
    color: var(--color-text-muted);
    background-color: var(--color-bg-second);
    padding: 0.1rem 0.75rem;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    position: absolute;
    bottom: 100%;
  }

  &::before {
    content: attr(title);
    right: 0;
  }

  pre {
    padding: 1rem;
    margin-block: 3rem;
    background-color: var(--color-bg-second);
    border: 1px solid var(--color-border);
    box-shadow: var(--color-shadow-sm);
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-link) var(--color-bg-body);
  }

  code {
    &::before {
      content: 'Lang: ' attr(data-lang);
      text-transform: capitalize;
      position: absolute;
      bottom: 100%;
      left: 0;
    }
  }
}
