@use '../abstracts/mixins' as m;

.figure {
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: var(--color-shadow-sm);
    display: inline-block;
  }

  &--left,
  &--right {
    max-width: 320px;
  }

  &--left {
    float: left;
    align-items: start;
    text-align: left;
  }

  &--right {
    float: right;
    align-items: end;
    text-align: right;
  }

  &__caption {
    font-size: 0.9rem;
    color: var(--color-text-muted);
    margin-top: 0.5rem;
    max-width: 320px;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  @include m.max(lg) {
    &--left,
    &--right {
      float: none;
      display: block;
      max-width: 100%;
    }
  }
}
