// ANIMATED FOR Bounce Left
@keyframes bounceLeft {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(0px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(-26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(-13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(-6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(-4px);
    }

    25%, 55%, 75%, 87%, 98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}

// ANIMATED FOR Bounce Right
@keyframes bounceRight {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(0px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(4px);
    }

    25%, 55%, 75%, 87%, 98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}

// ANIMATED FOR PROMPT
@keyframes animatedTip {
    0% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-tip),
        inset 0px -10px 20px var(--cl-shadow-1-tip);
    border-color: var(--cl-tip);
    }
    50% {
    box-shadow: inset 0px 0px 30px var(--cl-shadow-2-tip);
    border-color: var(--cl-opacity-tip);
    }
    100% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-tip),
        inset 0px -10px 20px var(--cl-shadow-1-tip);
    border-color: var(--cl-tip);
    }
}

@keyframes animatedInfo {
    0% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-info),
        inset 0px -10px 20px var(--cl-shadow-1-info);
    border-color: var(--cl-info);
    }
    50% {
    box-shadow: inset 0px 0px 30px var(--cl-shadow-2-info);
    border-color: var(--cl-opacity-info);
    }
    100% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-info),
        inset 0px -10px 20px var(--cl-shadow-1-info);
    border-color: var(--cl-info);
    }
}

@keyframes animatedWarning {
    0% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-warning),
        inset 0px -10px 20px var(--cl-shadow-1-warning);
    border-color: var(--cl-warning);
    }
    50% {
    box-shadow: inset 0px 0px 30px var(--cl-shadow-2-warning);
    border-color: var(--cl-opacity-warning);
    }
    100% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-warning),
        inset 0px -10px 20px var(--cl-shadow-1-warning);
    border-color: var(--cl-warning);
    }
}

@keyframes animatedDanger {
    0% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-danger),
        inset 0px -10px 20px var(--cl-shadow-1-danger);
    border-color: var(--cl-danger);
    }
    50% {
    box-shadow: inset 0px 0px 30px var(--cl-shadow-2-danger);
    border-color: var(--cl-opacity-danger);
    }
    100% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-danger),
        inset 0px -10px 20px var(--cl-shadow-1-danger);
    border-color: var(--cl-danger);
    }
}

@keyframes animatedError {
    0% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-error),
        inset 0px -10px 20px var(--cl-shadow-1-error);
    border-color: var(--cl-error);
    }
    50% {
    box-shadow: inset 0px 0px 30px var(--cl-shadow-2-error);
    border-color: var(--cl-opacity-error);
    }
    100% {
    box-shadow: 
        inset 0px 10px 20px var(--cl-shadow-1-error),
        inset 0px -10px 20px var(--cl-shadow-1-error);
    border-color: var(--cl-error);
    }
}