.link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  .bi {
    width: var(--text-sm);
    height: var(--text-sm);
    display: inline;
  }
  &--broken {
    color: var(--color-link-broken);

    &:hover {
      color: var(--color-link-broken-hover);
    }
  }
}
