@use '../abstracts/mixins' as m;

.form {
  background-color: var(--color-bg-second);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);

  &__input {
    outline: none;
    width: 100%;
    color: var(--color-text-default);

    &::placeholder {
      color: var(--color-text-muted);
    }
  }
}