@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

.tab-action {
	position: relative;
}

.tab-action {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
	background-color: var(--bg-sidebar);
	border-left: 2px solid;
    border-right: 2px solid;
    border-color: var(--cl-border);
	border-radius: 5px;
	color: var(--cl-accent);
	cursor: pointer;
	outline: none;
}

.tab-action:focus,.tab-action:hover {
	box-shadow: 
        inset 0px 10px 20px var(--cl-shadow),
        inset 0px -10px 20px var(--cl-shadow);
	border-radius: 5px;
}

.tab-action::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background-color: #000000;
	clip-path: polygon(29% 0%, 71% 0%, 71% 56%, 100% 56%, 50% 100%, 0% 56%, 29% 56%);
}

