@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

:root {
  --neutral-black: #0e0e0e;
  --neutral-dark: #1a1a1a;
  --neutral-darker-gray: #262626;
  --neutral-dark-gray: #333333;
  --neutral-gray: #4d4d4d;

  --purple-light: #cfb6ff;
  --purple-medium: #9a67ea;
  --purple-dark: #7e3ff2;
  --purple-darker: #6028a7;
  --purple-darkest: #4a1e7f;

  --snow-white: #e6e6e6;
  --snow-light: #d4d4d4;
  --snow-lighter: #c2c2c2;
  --snow-medium: #b0b0b0;
  --snow-gray: #8f8f8f;
  --snow-dark: #6d6d6d;

  --blue-dark: #003f7d;
  --blue-medium: #0066cc;
  --blue-bright: #00aaff;
  --white-bright: #f5f5ff;
  --yellow-gold: #ffcc00;
  --red-bright: #ff4b5c;

  --neon-green: #00ffab;
  --neon-blue: #00e6ff;
  --neon-purple: #aa00ff;
  --neon-pink: #ff008a;
  --neon-yellow: #ffee00;
  
  --cl-shadow-dark: rgba(0, 0, 0, 0.1);
  --cl-shadow-light: rgba(255, 255, 255, 0.1);
}

:root[data-theme=dark] {
  --bg-body: ;
  --bg-header: ;
  --bg-sidebar: ;
  --bg-content: ;
  --bg-footer: ;
  --bg-gradient: ;
  
  --cl-accent: ;
  --cl-text: ;
  --cl-info: ;
  --cl-warning: ;
  --cl-danger: ;
  --cl-success: ;
  --cl-muted: ;
  --cl-highlight: ;
  
  --cl-card-bg: ;
  --cl-card-bg-hover: ;
  --cl-card-text: ;
  --cl-card-border: ;
  --cl-card-border-hover: ;
  
  --cl-btn: ;
  --cl-btn-hover: ;
  --cl-btn-bg: ;
  --cl-btn-bg-hover: ;
  --cl-btn-active: ;
  --cl-btn-focus: ;
  
  --cl-link: ;
  --cl-link-hover: ;
  --cl-link-underline: ;
  --cl-link-underline-hover: ;
  --cl-link-active: ;
  --cl-link-focus: ;
  
  --cl-blockquote: ;
  --cl-blockquote-border: ;
  --cl-toc-highlight: ;
  --cl-code-inline: ;
  --cl-code-inline-bg: ;
  --cl-pre-code-bg: ;
  --cl-label: ;
  --cl-table-border: ;
  --cl-table-header: ;
  --cl-table-odd-bg: ;
  --cl-table-even-bg: ;
}