@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

:root {
  --neutral-black: #0e0e0e;
  --neutral-dark: #1a1a1a;
  --neutral-darker-gray: #262626;
  --neutral-dark-gray: #333333;
  --neutral-gray: #4d4d4d;

  --purple-light: #cfb6ff;
  --purple-medium: #9a67ea;
  --purple-dark: #7e3ff2;
  --purple-darker: #6028a7;
  --purple-darkest: #4a1e7f;

  --snow-white: #e6e6e6;
  --snow-light: #d4d4d4;
  --snow-lighter: #c2c2c2;
  --snow-medium: #b0b0b0;
  --snow-gray: #8f8f8f;
  --snow-dark: #6d6d6d;

  --blue-dark: #003f7d;
  --blue-medium: #0066cc;
  --blue-bright: #00aaff;
  --white-bright: #f5f5ff;
  --yellow-gold: #ffcc00;
  --red-bright: #ff4b5c;

  --neon-green: #00ffab;
  --neon-blue: #00e6ff;
  --neon-purple: #aa00ff;
  --neon-pink: #ff008a;
  --neon-yellow: #ffee00;

  --cl-shadow: rgba(0, 0, 0, 0.5);
}

:root[data-theme=dark] {
  --bg-body: var(--neutral-black);
  --bg-primary: var(--neutral-dark);
  --bg-secondary: var(--neutral-darker-gray);
  --bg-card: var(--neutral-dark-gray);
  --bg-btn: var(--neutral-gray);

  --bg-gradient: linear-gradient(135deg, var(--neutral-dark), var(--purple-darker));

  --accent: var(--neon-blue);

  --cl-text: var(--snow-gray);
  --cl-heading: var(--neon-green);
  --cl-article: var(--snow-dark);

  --cl-danger: var(--red-bright);
  --cl-info: var(--blue-bright);
  --cl-success: var(--neon-green);
  --cl-warning: var(--neon-yellow);

  --cl-link: var(--neon-blue);
  --cl-btn: var(--neon-purple);
  --cl-border: var(--purple-darker);
}

:root[data-theme=light] {
  --bg-body: var(--snow-white);
  --bg-primary: var(--snow-light);
  --bg-secondary: var(--snow-medium);
  --bg-card: var(--snow-gray);
  --bg-btn: var(--snow-dark);

  --bg-gradient: linear-gradient(135deg, var(--snow-white), var(--neon-yellow));

  --accent: var(--neon-pink);

  --cl-text: var(--neutral-dark);
  --cl-heading: var(--neutral-black);
  --cl-article: var(--neutral-gray);

  --cl-danger: var(--red-bright);
  --cl-info: var(--blue-medium);
  --cl-success: var(--neon-green);
  --cl-warning: var(--neon-yellow);

  --cl-link: var(--neon-blue);
  --cl-btn: var(--neon-pink);
  --cl-border: var(--snow-dark);
}
