@layer theme {
  :root[data-theme="dark"]{
    --color-bg-body: #030712;
    --color-bg-second: #111827;
    --color-bg-third: #1f2937;
    
    --color-text-default: #d1d5db;
    --color-text-title: #f9fafb;
    --color-text-muted: #9ca3af;
    --color-text-alt: #f3f4f6;
    
    --color-border: #374151;
    --color-border-second: #1f2937;
    --color-border-focus: #6b7280;
    --color-border-alt: #4b5563;
    
    --color-link: #60a5fa;
    --color-link-hover: #3b82f6;
    --color-link-broken: #fb7185;
    --color-link-broken-hover: #f43f5e;
    
    --color-shadow-sm: 1px 4px 8px rgba(0, 0, 0, 0.7);
    --color-shadow-md: 4px 8px 10px rgba(0, 0, 0, 0.5);
    --color-shadow-lg: 6px 10px 12px rgba(0, 0, 0, 0.4);

    --color-text-shadow-sm: 1px 1px 4px rgba(0, 0, 0, 0.7);
    --color-text-shadow-md: 2px 2px 5px rgba(0, 0, 0, 0.5);
    --color-text-shadow-lg: 3px 3px 6px rgba(0, 0, 0, 0.4);
    
    --color-bg-state-tip: ;
    --color-bg-state-info: ;
    --color-bg-state-success: ;
    --color-bg-state-warning: ;
    --color-bg-state-danger: ;
    --color-bg-state-error: ;
    --color-bg-state-note: ;
    --color-bg-state-abstract: ;
    --color-bg-state-question: ;
    --color-bg-state-failure: ;
    --color-bg-state-important: ;
    
    --color-text-state-tip: ;
    --color-text-state-info: ;
    --color-text-state-success: ;
    --color-text-state-warning: ;
    --color-text-state-danger: ;
    --color-text-state-error: ;
    --color-text-state-note: ;
    --color-text-state-abstract: ;
    --color-text-state-question: ;
    --color-text-state-failure: ;
    --color-text-state-important: ;
  }
}
