:root[data-theme='dark'] {
  --color-bg-body: #030712;
  --color-bg-second: #111827;
  --color-bg-third: #1f2937;

  --color-text-default: #d1d5db;
  --color-text-title: #f9fafb;
  --color-text-muted: #9ca3af;
  --color-text-alt: #f3f4f6;

  --color-border: #374151;
  --color-border-second: #6b7280;
  --color-border-focus: #1f2937;
  --color-border-alt: #4b5563;

  --color-link: #3b82f6;
  --color-link-hover: #60a5fa;
  --color-link-visited: #1e40af;
  --color-link-broken: #f43f5e;
  --color-link-broken-hover: #fb7185;

  --color-shadow-sm: 1px 4px 8px rgba(0, 0, 0, 0.7);
  --color-shadow-md: 4px 8px 10px rgba(0, 0, 0, 0.5);
  --color-shadow-lg: 6px 10px 12px rgba(0, 0, 0, 0.4);

  --color-text-shadow-sm: 1px 1px 4px rgba(0, 0, 0, 0.7);
  --color-text-shadow-md: 2px 2px 5px rgba(0, 0, 0, 0.5);
  --color-text-shadow-lg: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

// CALLOUT
[data-theme='dark'] {
  --color-bg-state-tip: #1a2e0530;
  --color-bg-state-info: #17255430;
  --color-bg-state-success: #052e1630;
  --color-bg-state-warning: #42200630;
  --color-bg-state-danger: #450a0a30;
  --color-bg-state-note: #042f2e30;
  --color-bg-state-abstract: #1e1b4b30;
  --color-bg-state-question: #2e106530;

  --color-text-state-tip: #a3e635;
  --color-text-state-info: #60a5fa;
  --color-text-state-success: #4ade80;
  --color-text-state-warning: #facc15;
  --color-text-state-danger: #f87171;
  --color-text-state-note: #2dd4bf;
  --color-text-state-abstract: #818cf8;
  --color-text-state-question: #a78bfa;
}