@use '../abstracts/mixins' as m;

.header {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 999;
  width: 100%;

  &__button {
    padding: 1rem;
    background-color: var(--color-bg-second);
    border-radius: 0.5rem;
    border: 1px solid var(--color-border);
    box-shadow: var(--color-shadow-sm);
    color: var(--color-text-title);

    .bi {
      width: 18px;
      height: 18px;
    }
  }
}