:root[data-theme='light'] {
  --color-bg-body: #f9fafb;
  --color-bg-second: #f3f4f6;
  --color-bg-third: #e5e7eb;
  --color-bg-overlay: rgba(0, 0, 0, 0.5);

  --color-text-default: #374151;
  --color-text-title: #030712;
  --color-text-muted: #4b5563;
  --color-text-alt: #111827;

  --color-border: #d1d5db;
  --color-border-second: #e5e7eb;
  --color-border-focus: #6b7280;
  --color-border-alt: #9ca3af;

  --color-link: #1d4ed8;
  --color-link-hover: #2563eb;
  --color-link-broken: #e11d48;
  --color-link-broken-hover: #be123c;

  --color-shadow-sm: 1px 4px 8px rgba(0, 0, 0, 0.1);
  --color-shadow-md: 4px 8px 10px rgba(0, 0, 0, 0.08);
  --color-shadow-lg: 6px 10px 12px rgba(0, 0, 0, 0.1);

  --color-text-shadow-sm: 1px 1px 2px rgba(0, 0, 0, 0.1);
  --color-text-shadow-md: 2px 2px 3px rgba(0, 0, 0, 0.08);
  --color-text-shadow-lg: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

[data-theme='light'] {
  --color-bg-state-tip: #f7fee7;
  --color-bg-state-info: #eff6ff;
  --color-bg-state-success: #f0fdf4;
  --color-bg-state-warning: #fefce8;
  --color-bg-state-danger: #fef2f2;
  --color-bg-state-note: #f0fdfa;
  --color-bg-state-abstract: #f5f3ff;
  --color-bg-state-question: #faf5ff;

  --color-text-state-tip: #65a30d;
  --color-text-state-info: #2563eb;
  --color-text-state-success: #4ade80;
  --color-text-state-warning: #ca8a04;
  --color-text-state-danger: #dc2626;
  --color-text-state-note: #0d9488;
  --color-text-state-abstract: #4f46e5;
  --color-text-state-question: #7c3aed;
}