@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

:root {
  --font-base: ;
  --font-article: ;
  --font-heading: ;
  --font-monospace: ;
  --font-title: ;
}