@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&family=Space+Grotesk:wght@400..700&family=JetBrains+Mono:wght@400..700&family=Orbitron:wght@400..700&family=Barlow:wght@300..700&family=Saira+Condensed:wght@400..700&display=swap');
:root {
    --font-base: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-article: "Inter", sans-serif;
    --font-heading: "Space Grotesk", sans-serif;
    --font-monospace: "JetBrains Mono", Consolas, "Courier New", Courier, monospace;
    --font-title: "Orbitron", sans-serif;
    --font-subtitle: "Barlow", sans-serif;
    --font-caption: "Saira Condensed", sans-serif;

    --fs-large: 2.030rem;
    --fs-medium: 1.804rem;
    --fs-small: 1.604rem;
    --fs-h1: 1.425rem;
    --fs-h2: 1.267rem;
    --fs-h3: 1.126rem;
    --fs-h4: 1.001rem;
    --fs-h5: 0.890rem;
    --fs-h6: 0.791rem;
    --fs-subtitle: 0.703rem;
    --fs-body: 0.625rem;
    --fs-caption: 0.556rem;
    --fs-label: 0.494rem;
    --fs-tagline: 0.439rem;

    --line-height: 1.2;
    @include bp.min-width(sm) {
        --fs-large: 2.435rem;
        --fs-medium: 2.165rem;
        --fs-small: 1.924rem;
        --fs-h1: 1.711rem;
        --fs-h2: 1.520rem;
        --fs-h3: 1.352rem;
        --fs-h4: 1.201rem;
        --fs-h5: 1.068rem;
        --fs-h6: 0.949rem;
        --fs-subtitle: 0.844rem;
        --fs-body: 0.750rem;
        --fs-caption: 0.667rem;
        --fs-label: 0.593rem;
        --fs-tagline: 0.527rem;

        --line-height: 1.3;
    }

    @include bp.min-width(md) {
        --fs-large: 2.841rem;
        --fs-medium: 2.526rem;
        --fs-small: 2.245rem;
        --fs-h1: 1.996rem;
        --fs-h2: 1.774rem;
        --fs-h3: 1.577rem;
        --fs-h4: 1.402rem;
        --fs-h5: 1.246rem;
        --fs-h6: 1.107rem;
        --fs-subtitle: 0.984rem;
        --fs-body: 0.875rem;
        --fs-caption: 0.778rem;
        --fs-label: 0.691rem;
        --fs-tagline: 0.615rem;

        --line-height: 1.4;
    }

    @include bp.min-width(lg) {
        --fs-large: 3.247rem;
        --fs-medium: 2.887rem;
        --fs-small: 2.566rem;
        --fs-h1: 2.281rem;
        --fs-h2: 2.027rem;
        --fs-h3: 1.802rem;
        --fs-h4: 1.602rem;
        --fs-h5: 1.424rem;
        --fs-h6: 1.266rem;
        --fs-subtitle: 1.125rem;
        --fs-body: 1.000rem;
        --fs-caption: 0.889rem;
        --fs-label: 0.790rem;
        --fs-tagline: 0.702rem;

        --line-height: 1.5;
    }

    @include bp.min-width(xl) {
        --fs-large: 3.653rem;
        --fs-medium: 3.247rem;
        --fs-small: 2.887rem;
        --fs-h1: 2.566rem;
        --fs-h2: 2.281rem;
        --fs-h3: 2.027rem;
        --fs-h4: 1.802rem;
        --fs-h5: 1.602rem;
        --fs-h6: 1.424rem;
        --fs-subtitle: 1.266rem;
        --fs-body: 1.125rem;
        --fs-caption: 1.000rem;
        --fs-label: 0.889rem;
        --fs-tagline: 0.790rem;

        --line-height: 1.6;
    }

    @include bp.min-width(xxl) {
        --fs-large: 4.059rem;
        --fs-medium: 3.608rem;
        --fs-small: 3.207rem;
        --fs-h1: 2.851rem;
        --fs-h2: 2.534rem;
        --fs-h3: 2.253rem;
        --fs-h4: 2.002rem;
        --fs-h5: 1.780rem;
        --fs-h6: 1.582rem;
        --fs-subtitle: 1.406rem;
        --fs-body: 1.250rem;
        --fs-caption: 1.111rem;
        --fs-label: 0.988rem;
        --fs-tagline: 0.878rem;

        --line-height: 1.7;
    }
}

html {
    transition: font-size 0.3s ease;
    font-size: 100%;
}

body {
    font-family: var(--font-base);
    font-size: var(--fs-body);
    color: var(--cl-text);
    line-height: var(--line-height);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: bolder;
    line-height: 1.15;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#contentArticle, p {
    font-family: var(--font-article);
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }
h4 { font-size: var(--fs-h4); }
h5 { font-size: var(--fs-h5); }
h6 { font-size: var(--fs-h6); }

figcaption {
    font-size: var(--fs-caption);
}

label, input {
    font-size: var(--fs-label);
}