<!DOCTYPE html>
<html lang="{{ or .Site.Language.LanguageCode .Site.Language.Lang }}" data-theme="dark">
{{ partial "head.html" . }}
<body>
  <div class="layout">

    <div class="layout__top">
      {{ partial "header.html" . }}
    </div>

    <div class="layout__main">
      <aside class="sidebar sidebar--left">
        {{ partial "left-sidebar.html" . }}
      </aside>
      <div class="main-page">
        <main>{{ block "main" . }}{{ end }}</main>
        <footer>{{ partial "footer.html" . }}</footer>
      </div>
      <aside class="sidebar sidebar--right">
        {{ partial "right-sidebar.html" . }}
      </aside>
    </div>

  </div>
  {{ partial "script.html" . }}
</body>
</html>