{{ define "main" }}
<article class="page">
  
  <header class="page__header">
    <h1 class="page__title">{{ .Title }}</h1>
    <p class="page__subtitle">{{ .Params.subtitle }}</p>
    <nav class="nav">
      {{ template "folder_list" . }}
    </nav>
  </header>

  <section class="page__article" id="contentArticle">
    {{ .Content }}
  </section>

  <section class="page__posts">
    {{ $pages := site.RegularPages }}
    {{ $paginator := .Paginate $pages }}
    {{ range $paginator.Pages }}

    <div class="card">
      <img 
      class="card__image" 
      src="{{ .Params.thumbnail }}" 
      alt="Thumbnail image for the post titled {{ .Title }}">
      <div class="card__content">
        <h2 class="card__title">{{ .Title }}</h2>
        <p class="card__excerpt">{{ .Params.excerpt }}</p>
        <p class="card__time">
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
        </p>
        <div class="card__button">
          <a class="btn" href="{{ .RelPermalink }}">
            <i class="btn__icon bi bi-arrow-right"></i>
            <span class="btn__name">Read More</span>
          </a>
        </div>
      </div>
    </div>
    {{ end }}
  </section>

  <div class="page__pagination">
    {{ template "_internal/pagination.html" . }}
  </div>
</article>
{{ end }}
