//==============================================//
//  Common Types of Scale Ratios
//  Some common ratios often used in design:
//  Minor Second (1.067)
//  Major Second (1.125)
//  Minor Third (1.200)
//  Major Third (1.250)
//  Perfect Fourth (1.333)
//  Augmented Fourth (1.414)
//  Perfect Fifth (1.500)
//  Golden Ratio (1.618)

$font__family--sans: sans-serif;
$font__family--mono: monospace;

$text-base: 14px;
$scale-ratio: 1.067;

@use 'sass:math';
@function scale($step) {
  @return math.div(
      math.div(
        math.round($text-base * pow($scale-ratio, $step) * 100),
        100
      ),
      $text-base
    ) * 1rem;
}

$text-xs: scale(-4);
$text-2xs: scale(-3);
$text-3xs: scale(-2);

$text-sm: scale(-1);
$text-lg: scale(1);
$text-xl: scale(2);

$text-2xl: scale(3);
$text-3xl: scale(4);
$text-4xl: scale(5);
$text-5xl: scale(6);
$text-6xl: scale(7);
