---
// src/pages/[...slug].astro
import Layout from '../layouts/Layout.astro'
import Prose from '../components/Prose.astro'

import { getCollection } from 'astro:content'
import { render } from 'astro:content'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
	const allNotes = await getCollection('notes')

	return allNotes.map(note => {
		const slug = note.id

		return {
			params: { slug },
			props: { note }
		}
	})
}) satisfies GetStaticPaths

const { note } = Astro.props
const { Content } = await render(note)
---

<Layout>
	<header>
		<h1>Title</h1>
	</header>
	<main>
		<Prose>
			<article>
				<Content />
			</article>
		</Prose>
	</main>
</Layout>
