---
// src/pages/[...slug].astro
import '../styles/callout.css'

import Layout from '../layouts/Layout.astro'
import Prose from '../components/Prose.astro'

import { getCollection } from 'astro:content'
import { render } from 'astro:content'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
	const allNotes = await getCollection('notes')

	return allNotes.map((note) => {
		const slug = note.id

		return {
			params: { slug },
			props: { note }
		}
	})
}) satisfies GetStaticPaths

const { note } = Astro.props
const { Content } = await render(note)

const meta = {
	title: note.data.title,
	description: note.data.description || `Catatan yang membahas tentang ${note.data.title}`,
	thumbnail: note.data.thumbnail
}
---

<Layout meta={meta}>
	<main>
		<Prose>
			<article class="dark">
				<Content />
			</article>
		</Prose>
	</main>
</Layout>
