---
import Layout from '../layouts/Layout.astro'

const meta = {
	title: 'Gallery',
	description: 'Masih Kosong Belum Dikerjakan'
}
---

<Layout meta={meta}>
	<h1>Masih Kosong Belum Dikerjakan</h1>
</Layout>
