---
import Layout from '../layouts/Layout.astro'
import ProjectCards from '../components/ProjectCards.astro'

import { Image } from 'astro:assets'
import { SITE_CONFIG, MENUS } from '../SiteConfig'
import { getAllPosts } from '../utils/getPosts'
import Button from '../components/Button.astro'

const cta = MENUS.cta
const logo = SITE_CONFIG.logo || ''
const author = SITE_CONFIG.author || ''

const featuredNotes = await getAllPosts('Permanent', 4, true)
const featuredProjects = await getAllPosts('Projects', 2, true)
const allNotes = await getAllPosts()
---

<Layout>
	<header>
		<h1>👋 Selamat datang!</h1>
		<em class="not-italic">Tempat saya mencatat perjalanan belajar sebagai programmer otodidak.</em>
		<p>
			Saya seorang pembelajar otodidak yang suka ngoprek kode, menjelajahi ide, dan membangun hal-hal menarik. Yuk, kenalan lebih jauh atau lihat beberapa proyekku!
		</p>

		<nav class="flex items-center gap-2">
			{cta?.map((i: any) => <Button href={i.url} label={i.label} primary={i.primary} />)}
		</nav>
	</header>
	<main class="mt-14">
		<ProjectCards heading="Last Projects" items={featuredProjects} />
	</main>
</Layout>
