---
import Layout from '../layouts/Layout.astro'
import Prose from '../components/Prose.astro'
import { Image } from 'astro:assets'
import { SITE_CONFIG } from '../SiteConfig'
---

<Layout>
	<header class="mt-10 grid gap-10 md:grid-cols-2">
		<Image
			src={SITE_CONFIG.logo || ''}
			alt={SITE_CONFIG.author || ''}
			width={320}
			height={320}
      format={'webp'}
      loading={`eager`}
      layout='full-width'
			class="rounded-xl shadow-md shadow-black border-4 border-neutral-800 mx-auto md:order-2"
		/>
		<Prose className="md:order-1">
			<h1>!Hi Welcome...</h1>
			<em>Tempat saya mencatat perjalanan belajar sebagai programmer otodidak.</em>
			<p>
				Blog ini berisi catatan belajar saya dalam bidang JavaScript, Python, dan teknologi web.
				Saya juga menulis hal-hal yang saya pelajari seputar matematika dasar dan bahasa Inggris.
				Semua catatan ditulis dengan gaya santai dan apa adanya. Kalau kamu juga belajar hal yang
				sama, semoga bisa jadi teman belajar yang menyenangkan.
			</p>
		</Prose>
	</header>
  <main>
    
  </main>
</Layout>
