---
import { getCollection } from 'astro:content'
import { getAllPosts } from '../utils/getPosts'
import { timeFormat } from '../utils/timeFormat'
import { capitalizeEachWord } from '../utils/capitalizeEachWord'
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'

const notes = await getAllPosts()

const getAllContent = await getCollection('vaults')
const getTags = getAllContent.flatMap(i => i.data.tags)
const tags = [...new Set(getTags)]


const meta = {
	title: 'Notes',
	description: `Pernah nggak sih kalian bertanya-tanya, kenapa nasi goreng di warung pinggir jalan itu bisa seenak itu? 🤔 Aku sudah mencoba berbagai resep dari seluruh penjuru dunia—dari dapur rumah sampai dapur YouTube—tapi tetap saja rasanya belum nendang!`
}
---

<Layout meta={meta}>
	<header>
		<h1>Sedang Mencari Resep!</h1>

		<nav class="flex flex-wrap gap-1.5">
			{tags.map(i => <Badge href={`/tag/${i}/`} label={capitalizeEachWord(i || '')} />)}
		</nav>

		<p>
			Pernah nggak sih kalian bertanya-tanya, kenapa nasi goreng di warung pinggir jalan itu bisa
			seenak itu? 🤔 Aku sudah mencoba berbagai resep dari seluruh penjuru dunia—dari dapur rumah
			sampai dapur YouTube—tapi tetap saja rasanya belum nendang!
		</p>
		<p>
			Apakah ini hasil latihan bertahun-tahun? Atau… mungkinkah ada campur tangan makhluk halus? 👻 <br
			/>Entahlah. Tapi satu yang pasti: pencarian ini belum selesai!
		</p>
	</header>
	<main class="mt-14">
		<h2>All Notes</h2>
		<ul class="m-0 list-none p-0">
			{
				notes.map((i: any) => (
					<li class="group border-t border-dashed border-t-neutral-500 py-2.5">
						<a href={`/${i.id}/`} class="no-underline">
							<span class="block text-lg text-neutral-100 group-hover:text-amber-500">
								{i.data.title}
							</span>
							<time
								class="flex items-center justify-between text-neutral-500 group-hover:text-white"
								datetime={new Date(i.data.date || 0).toISOString()}
							>
								<span>Created On:</span>
								<span class="hidden lg:inline">{timeFormat(i.data.date, true)}</span>
								<span class="lg:hidden">{timeFormat(i.data.date, false)}</span>
							</time>
						</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
