---
import ProjectCards from '../components/ProjectCards.astro'
import Layout from '../layouts/Layout.astro'
import { getAllPosts } from '../utils/getPosts'
const projects = await getAllPosts('Projects')

const meta = {
	title: 'Projects',
	description: `Berikut adalah beberapa proyek kecil yang saya buat selama proses belajar pemrograman secara otodidak. Tidak ada yang sempurna, tapi setiap baris kodenya adalah bagian dari perjalanan saya memahami dunia teknologi.`
}
---

<Layout meta={meta}>
	<header>
		<h1>Proyek-proyek Saya</h1>
		<p>
			Berikut adalah beberapa proyek kecil yang saya buat selama proses belajar pemrograman secara
			otodidak. Tidak ada yang sempurna, tapi setiap baris kodenya adalah bagian dari perjalanan
			saya memahami dunia teknologi.
		</p>
		<p>
			Saya membuat proyek-proyek ini untuk bersenang-senang, bereksperimen, dan mengasah kemampuan.
			Kadang iseng, kadang serius—tapi semuanya adalah langkah kecil yang berarti.
		</p>
		<hr />
		<p>
			Catatan: Semua proyek di sini masih dalam tahap belajar. Kalau ada yang menarik atau ingin
			memberi masukan, saya akan sangat menghargainya
		</p>
	</header>
	<main class="mt-14">
		<ProjectCards items={projects} />
	</main>
</Layout>
