<div class="search">
  <form class="search__form" id="search" onsubmit="return handleSearch(event);">
    <input class="search__input" type="text" id="search-input" name="query" placeholder="🔍 Ketik untuk mencari">
    <button class="btn btn--search" type="submit">
      <i class="btn__icon bi-search"></i>
    </button>
  </form>

  <strong class="search__title" id="search-title"></strong>
  <ul class="search__list" id="results">
    <li class="search__item">
      Hasil pencarian akan ditampilkan di sini.
    </li>
  </ul>
</div>