---
import { Icon } from "astro-icon/components";
import Brand from "./Brand.astro";
---

<div class="bg-neutral-900 sticky top-0 z-30 px-2.5 py-2 flex items-center justify-between border-b border-b-neutral-800 shadow-sm shadow-black lg:hidden">
	<Brand />
	<button onclick="sidebarOpen()">
		<Icon name="icon-bar-3" class="size-6" />
	</button>
</div>
