---
import { Icon } from 'astro-icon/components'
import Brand from './Brand.astro'

const main = [
	{ label: 'Home', href: '/', icon: 'icon-home' },
	{ label: 'Projects', href: '/projects/', icon: 'icon-wrench-screwdriver' },
	{ label: 'About', href: '/about/', icon: 'icon-person-circle' },
	{ label: 'Notes', href: '/notes/', icon: 'icon-pencil-square' },
	{ label: 'Gallery', href: '/gallery/', icon: 'icon-photo' }
]

const social = [
	{ label: 'Instagram', href: 'https://www.instagram.com/masputrawae/', icon: 'icon-instagram' },
	{ label: 'Github', href: 'https://github.com/masputrawae/', icon: 'icon-github' },
	{ label: 'Discord', href: 'https://discord.gg/nM4EP8DJFZ', icon: 'icon-discord' }
]

const menus = [main, social]
---

<header
	id="sidebar"
	class="invisible fixed top-0 left-0 z-50 grid h-dvh w-xs -translate-x-full grid-rows-[auto_minmax(0,1fr)_auto] gap-2 border-r border-r-neutral-800 bg-neutral-900 p-5 shadow-sm shadow-black transition-all duration-500 lg:visible lg:sticky lg:translate-none"
>
	<div class="flex items-center justify-between">
		<Brand />
		<button class="lg:hidden" onclick="sidebarClose()" aria-label="Sidebar Close">
			<Icon name="icon-x-mark" class="size-6" role="img" title="Icon x mark" />
		</button>
	</div>

	{
		menus.map((menu) => (
			<nav class="mt-2 flex flex-col gap-1.5">
				{menu.map((item) => {
					const href = item.href
					const icon = item.icon
					const label = item.label

					const { pathname } = Astro.url
					const isActive = href === pathname || (href !== '/' && pathname.startsWith(href))

					return (
						<a
							href={href}
							class={`flex items-center gap-1 px-3 py-1 ${isActive ? 'rounded-sm border border-neutral-700 bg-neutral-800 text-white shadow-sm shadow-black' : ''}`}
						>
							<Icon name={icon} class="size-4" />
							{label}
						</a>
					)
				})}
			</nav>
		))
	}
</header>

<div
	onclick="sidebarClose()"
	id="overlay"
	class="invisible fixed z-40 size-full bg-black/80 opacity-0 transition-all duration-300 lg:hidden"
>
</div>
