---
import { MENUS } from '../SiteConfig'
import { Icon } from 'astro-icon/components'

import Brand from './Brand.astro'
import Navigations from './Navigations.astro'

const menus = [MENUS.main, MENUS.social]
---

<header
	id="sidebar"
	class="invisible fixed top-0 left-0 z-50 grid h-dvh w-xs -translate-x-full grid-rows-[5rem_minmax(0,1fr)_auto] gap-5 border-r-2 border-r-neutral-800 bg-neutral-900 px-5 py-2.5 transition-all duration-500 lg:visible lg:sticky lg:translate-none"
>
	<div class="flex items-center justify-between">
		<Brand />
		<button onclick="sidebarClose()" class="cursor-pointer lg:hidden">
			<Icon name="icon-x-mark" title="Close Sidebar" role="img" class="size-6" />
		</button>
	</div>

	{menus.map((menu) => <Navigations items={menu} />)}
</header>

<div
	id="overlay"
	onclick="sidebarClose()"
	class="invisible fixed top-0 left-0 z-40 size-full bg-neutral-950/90 opacity-0 transition-all duration-300"
>
</div>
