<header class="header">
  <button class="btn btn--primary" id="leftOpen"> 
    <i class="btn__icon bi-layout-text-window-reverse"></i>
  </button>

  <nav class="breadcrumbs">
    <ul class="breadcrumbs__list">
      {{- range .Ancestors.Reverse }}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ .RelPermalink }}">
          <span class="breadcrumbs__link-name">{{ .Title }}</span>
          <i class="breadcrumbs__link-icon bi-chevron-right"></i>
        </a>
      </li>
      {{- end }}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ .RelPermalink }}">
          <span class="breadcrumbs__link-name">{{ .Title }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <button class="btn btn--primary" id="rightOpen">
    <i class="btn__icon bi-book"></i>
  </button>
</header>