<aside class="sidebar sidebar--left">
  <header class="sidebar__header">
    
    <button class="btn btn--primary" id="switchTheme">
      <i class="btn__icon bi-moon"></i>
    </button>
    
    <a class="logo" href="{{ .Site.BaseURL }}">
      <img class="logo__img" src="" alt="Logo Image {{ .Site.Title }}">
      <span class="logo__title">{{ .Site.Title }}</span>
    </a>
    
    <button class="btn btn--primary" id="leftClose">
      <i class="btn__icon bi-x"></i>
    </button>
    
  </header>
  <div class="sidebar__area">
    <select class="tab-action" data-tabs-group="group1">
      <option class="tab-action__option" value="filesTab">Files</option>
      <option class="tab-action__option" value="searchTab">Search</option>
      <option class="tab-action__option" value="categoriesTab">Categories</option>
      <option class="tab-action__option" value="tagsTab">Tags</option>
      <option class="tab-action__option" value="groupsTab">Groups</option>
      <option class="tab-action__option" value="pinnedTab">Pinned</option>
    </select>
    
    <button class="btn btn--primary" id="toggleCollapseAll">
      <i class="btn__icon bi-folder2-open"></i>
    </button>
    
    <div class="tab-area">
      <!--  -->
      <div class="tab-area__content active" data-tab="filesTab">
        <nav class="nav">
          <ul class="nav__list">
            {{ template "nav_list" .Site.Home }}
          </ul>
        </nav>
      </div>
      
      <!--  -->
      <div class="tab-area__content" data-tab="searchTab">
        <div class="search">
          
          <form class="search__form" id="search" onsubmit="return handleSearch(event);">
            <input class="search__input" type="text" id="search-input" name="query" placeholder="🔍 Ketik untuk mencari">
            <button class="btn btn--search" type="submit">
              <i class="btn__icon bi-search"></i>
            </button>
          </form>

          <strong class="search__title" id="search-title"></strong>
          <ul class="search__list" id="results">
            <li class="search__item">
              Hasil pencarian akan ditampilkan di sini.
            </li>
          </ul>
          
        </div>
      </div>
      
      <div class="tab-area__content" data-tab="categoriesTab">{{ template "categories_list" . }}</div>
      <div class="tab-area__content" data-tab="tagsTab">{{ template "categories_list" . }}</div>
      <div class="tab-area__content" data-tab="groupsTab">{{ template "groups_list" . }}</div>
      <div class="tab-area__content" data-tab="pinnedTab">{{ template "pinned_list" . }}</div>
    </div>
  </div>
</aside>