<header class="sidebar__header">
  <button class="btn btn--icon" id="switchTheme">
    <i class="bi-moon"></i>
  </button>

  <a class="sidebar__title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

  <button class="btn btn--icon" id="leftClose">
    <i class="bi-x"></i>
  </button>
</header>

<div class="sidebar__pane">
  <div class="sidebar__pane--column">
    <select class="tab-action" data-tabs-group="group1">
      <option value="filesTab">Files</option>
      <option value="searchTab">Search</option>
      <option value="categoriesTab">Categories</option>
      <option value="tagsTab">Tags</option>
      <option value="groupsTab">Groups</option>
      <option value="pinnedTab">Pinned</option>
    </select>

    <button class="btn btn--icon" id="toggleCollapseAll">
      <i class="bi-folder2-open"></i>
    </button>
  </div>

  <div class="tab-area">
    <div class="tab-area__content tab-area__content--active" data-tab="filesTab">
      <nav class="nav">
        <ul class="nav__list">
          {{ template "collapsible_nav" .Site.Home }}
        </ul>
      </nav>
    </div>
    
    <div class="tab-area__content" data-tab="searchTab">
      {{ partial "elements/search-bar.html" . }}
    </div>
    
    <div class="tab-area__content" data-tab="categoriesTab">
      {{ template "categories_list" . }}
    </div>
    <div class="tab-area__content" data-tab="tagsTab">
      {{ template "tags_list" . }}
    </div>
    <div class="tab-area__content" data-tab="groupsTab">
      {{ template "groups_list" . }}
    </div>
    <div class="tab-area__content" data-tab="pinnedTab">
      {{ template "pinned" . }}
    </div>
  </div>
</div>