{{ define "folder_list" }}
<ul class="nav__list">
  {{ if .Pages }}
    {{ range .Pages }}
      {{ if .IsSection }}
        <li class="nav__item">
          <a class="link" href="{{ .RelPermalink }}">
            <i class="link__icon bi-folder2"></i>
            <span class="link__name">{{ .LinkTitle }}</span>
          </a>
          {{ template "folder_list" . }}
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
{{ end }}
<!--  -->
{{ define "section_list" }}
  {{ if .Pages }}
    {{ range .Pages }}
      {{ if .IsSection }}
        <li class="nav__item">
          <a class="nav__link" href="{{ .RelPermalink }}">
            <i class="nav__link-icon bi-folder2"></i>
            <span class="nav__link-name">{{ .LinkTitle }}</span>
          </a>
          <ul class="nav__list">
            {{ template "section_list" . }}
          </ul>
        </li>
      {{ end }}
    {{ end }}
    {{ range .Pages }}
      {{ if .IsPage }}
        <li class="nav__item">
          <a class="nav__link" href="{{ .RelPermalink }}">
            <i class="nav__link-icon bi-file-earmark-text"></i>
            <span class="nav__link-name">{{ .LinkTitle }}</span>
          </a>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
<!--  -->
{{ define "nav_list" }}
  {{ if .Pages }}
    {{ range .Pages }}
      {{ if .IsSection }}
        <li class="nav__item">
          <button class="btn btn--collapse">
            <i class="btn__icon bi-folder2"></i>
            <span class="btn__name">{{ .LinkTitle }}</span>
          </button>
          <ul class="nav__list nav__list--collapse">
            {{ template "nav_list" . }}
          </ul>
        </li>
      {{ end }}
    {{ end }}
    {{ range .Pages }}
      {{ if .IsPage }}
        <li class="nav__item">
          <a class="nav__link" href="{{ .RelPermalink }}">
            <i class="nav__link-icon bi-file-earmark-text"></i>
            <span class="nav__link-name nav__link-name--ellipsis">{{ .LinkTitle }}</span>
          </a>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}p
