<aside class="sidebar sidebar--right">
  <header class="sidebar__header">
    <div class="sidebar__top">
      <button class="btn btn--primary" id="rightClose">
        <i class="btn__icon bi-x"></i>
      </button>
      <label for="fontAdjustment">Font Size: </label>
      <select name="fontAdjustment" id="fontAdjustment">
        <option value="115">115%</option>
        <option value="110">110%</option>
        <option value="default">Default</option>
        <option value="90">90%</option>
        <option value="80">80%</option>
        <option value="70">70%</option>
        <option value="60">60%</option>
        <option value="50">50%</option>
      </select>
    </div>
    <div class="sidebar__bottom">
      <div class="page-title">{{ .Title }}</div>

      <div class="word-count">
        <strong>Words: </strong> <span id="wordCount">0</span> |
        <strong>Characters: </strong> <span id="charCount">0</span>
      </div>
    </div>
  </header>
  
  <div class="sidebar__tab">
    <select class="tab-action" data-tabs-group="group2">
      <option class="tab-action__option" value="tocTab">Table of Contents</option>
      <option class="tab-action__option" value="relatedTab">Related</option>
      <option class="tab-action__option" value="referencesTab">References</option>
    </select>
    
    <div class="tab-area">
      <div class="tab-area__content active" data-tab="tocTab">
        <nav class="nav nav--toc">{{ .TableOfContents }}</nav>
      </div>

      <div class="tab-area__content" data-tab="relatedTab">
        <nav class="nav">
          <ul class="nav__list">
          {{ $related := .Site.RegularPages.Related . | first 20 }}
            {{ with $related }}
              {{ range . }}
                <li class="nav__item">
                  <a class="nav__link" href="{{ .RelPermalink }}">
                    <i class="nav__link-icon bi-link"></i>
                    <span class="nav__link-name">{{ .LinkTitle }}</span>
                  </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </nav>
      </div>

      <div class="tab-area__content" data-tab="referencesTab">
        <nav class="nav">
          <ul class="nav__list">
            {{ range .Params.reference }}
              <li class="nav__item">
                <a class="nav__link" href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                  <i class="nav__link-icon bi-link-45deg"></i>
                  <span class="nav__link-name">{{ .name }}</span>
                </a>
              </li>
            {{ end }}
          </ul>
        </nav>
      </div>

    </div>
  </div>
</aside>