<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
  data-theme="dark"
>
  <head>
    {{ partial "head/head.html" . }}
  </head>
  <body>
    <div class="layout">
      <aside id="sidebar" class="sidebar">
        {{ partial "left-sidebar.html" . }}
      </aside>

      <div class="main">
        <header class="header">{{ partial "header.html" . }}</header>
        <main class="content">{{ block "main" . }}{{ end }}</main>
        <footer class="footer">{{ partial "footer.html" . }}</footer>
      </div>
    </div>

    {{ partial "components/preview-link.html" . }}
  </body>
</html>
