<!DOCTYPE html>
<html 
  lang="{{ site.Language.LanguageCode }}" 
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
  data-theme="dark"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ partial "headed/embed-css" . }}
  {{ partial "headed/seo" . }}
  {{ partial "headed/sass" . }}
</head>
<body>
  <div class="main">
    {{ partial "layouts/header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "layouts/footer" . }}
  </div>

  {{ partial "layouts/menu-list-notes" . }}
  {{ partial "layouts/menu-table-of-content" . }}
  {{ partial "layouts/menu-setting" . }}
  {{ partial "layouts/menu-search" . }}

  {{ partial "headed/preview-link" . }}
  {{ partial "headed/embed-js" . }}
  {{ partial "headed/js" . }}
</body>
</html>