@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

.header {
    @include m.flex-justify();
    background: var(--bg-secondary);
    gap: 0.5rem;
    padding: 1rem;
    top: 0;
    position: sticky;
}
