@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

.header {
    @include m.flex-justify();
    background: var(--bg-header);
    padding: v.$size-2;
    top: 0;
    position: sticky;
    border-bottom: 3px solid var(--cl-accent);
    border-bottom-left-radius: v.$size-2;
    border-bottom-right-radius: v.$size-2;

    box-shadow: 
        0px 15px 20px 5px var(--cl-shadow-dark),
        0px 15px 20px 5px var(--cl-shadow-dark);
}