@use '../abstracts/breakpoints' as b;
@use '../abstracts/variables' as v;

body {
  font-size: v.$text-base;
  background-color: var(--bg-body);
  color: var(--cl-text-base);
}

.layout {
  isolation: isolate;
  display: grid;
  max-width: 100rem;
  margin-inline: auto;

  @include b.min(md) {
    grid-template-columns: 20rem minmax(0, 1fr);
  }

  .main {
    padding-inline: 1rem;
    max-width: 75rem;
    margin-inline: auto;
    width: 100%;
  }
}
