@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

.sidebar {
    @include m.area-calculation(100%, 100vh);
    padding: v.$size-3;
    z-index: 25;
    background: var(--bg-sidebar);
    position: fixed;
    overflow: auto;
    top: 0;
    
    // LEFT SIDEBAR
    &--left {
        left: -100%;
        transition: left 0.2s ease;
        animation: bounceRight 1s ease 1 normal none;

        &.open {
            left: 0;
            animation: bounceLeft 1s ease 1 normal none;
        }
    }

    // RIGHT SIDEBAR
    &--right {
        right: -100%;
        transition: right 0.2s ease;
        animation: bounceLeft 1s ease 1 normal none;

        &.open {
            right: 0;
            animation: bounceRight 1s ease 1 normal none;
        }
    }

    // BREAKPOINT
    @include bp.min-width(lg){
        animation: unset;
        background-color: var(--cl-overlay);
        border-radius: v.$size-5;
        top: v.$size-1;
        position: sticky;
        margin: v.$size-1;
    }
}